@use '../../scss/mixins' as m;

.dashboardWrapper {
    width: 100%;
    height: 100%;
}

.table {
    margin-bottom: 10px;
}

.form {
    @include m.flex($direction: column, $justify: start, $align: center, $gap: 30px)
}

.input {
    padding: 3px;
    border-radius: 4px;
    font-size: 17px;
    border: none;
    border-bottom: 0.5px solid black;
    transition: 0.1s;

    &:hover,
    &:focus {
        outline: none;
        border-bottom: 2px solid;
        box-shadow: none
    }
}

/* Remove spinners for WebKit browsers in number type input */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinners for Firefox in number type input*/
input[type=number] {
    -moz-appearance: textfield;
}